<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xiaobai.music">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MusicApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="n">

        <activity
            android:name=".StartsActivity"
            android:theme="@style/AppTheme.Full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LockActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="fullSensor"
            android:taskAffinity="com.example.xiaobai.lock"
            android:theme="@style/LockScreenTheme" />

        <service
            android:name=".service.LockService"
            android:enabled="true"
            android:process=":main" />

        <activity
            android:name=".music.view.act.MusicPlayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".music.view.act.StartPageActivity"
            android:launchMode="singleTop" />
        <activity android:name=".music.view.act.SearchActivity" />
        <activity android:name=".music.view.act.LoginActivity" />
        <activity android:name=".music.view.act.RegisteredActivity" />
        <activity android:name=".music.view.act.AlbumActivity" />
        <activity android:name=".music.view.act.AlbumDetActivity" />
        <activity android:name=".music.view.act.ArtistActivity" />
        <activity android:name=".music.view.act.ArtistDetActivity" />
        <activity android:name=".music.view.act.UserEditActivity" />
        <activity android:name=".music.view.act.SongDetActivity" />
        <activity android:name=".music.view.act.SongEditActivity" />
        <activity android:name=".music.view.act.DownloadActivity" />
        <activity android:name=".music.view.act.SetActivity" />
        <activity android:name=".music.view.act.SearchListActivity" />
    </application>

</manifest>