<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.xiaobai.music">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MusicApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tool:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity android:name=".SearchIndexActivity"
            android:screenOrientation="portrait"/>
        <!-- region 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- endregion -->
        <activity
            android:name=".IndexActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <service
            android:name=".service.TimeService"
            android:enabled="true" />
        <service
            android:name=".service.MusicService"
            android:enabled="true" />

        <activity
            android:name=".StartsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LockActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/LockScreenTheme" />

        <service
            android:name=".service.LockService"
            android:enabled="true"
            android:process=":main" />

        <activity
            android:name=".music.view.act.MusicPlayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.StartPageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.RegisteredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.AlbumDetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.ArtistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.ArtistDetActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".music.view.act.UserEditActivity" />
        <activity
            android:name=".music.view.act.SongDetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.SongEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.DownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.UserSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.CodeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.ChangePassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".music.view.act.WebViewActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>